body{
          background-color: rgb(74, 74, 74);
          padding-left: 25px;
          padding-right: 25px;
 
}
main{
          display: flex;
          flex-direction: column;
          background-color:#7ECA9C;
          width: auto;
          border-radius: 15px;
          border-style: solid;
}
.logo{
          text-align: center;
          background-color:rgb(64, 57, 74) ;
          padding: 30px;
          border-radius: 20px;
          width: 400px;
          margin:0 auto;
          margin-top: 10px;
          border-style:solid;
}
.logo img{
          border-radius: 15px;
          border-color: black;
          border-style: solid;
}
.logo img:hover{
          border-color:rgb(204, 255, 189) ;
}
.logo h1{
          border: 3px solid black;
          padding: 2px;
          background-color: rgb(204, 255, 189);
          font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo h2{
          color:rgb(60, 50, 70);
          text-align: center;
}
.logo h2:hover{
          color: rgb(81, 68, 94);
}
*{
          list-style: none;
}

.menu{
          display:flex ;
          width: 600px;
          justify-content: center;
          padding: 10px;
          padding-bottom: 20px;
          margin-right: 10px;
          height: 40px;
          margin: 0 auto;
          background-color:#7ECA9C;
          margin-top:10px;
          border-radius: 15px;
          border-style: solid;
          margin-bottom: 10px;
}
.menu a{
          color: black;
          text-decoration: none;
          font-size:19px;
          background-color:rgb(204, 255, 189);
          border-color: black;
          border-style:solid;
          margin-right: 5px;
          border-radius: 10px;
          margin-bottom: 0px;
          padding: 4px;
}
.menu a:hover{
          color: rgb(78, 78, 78);
}
.submenu{
          display:none;
          position: absolute;
          background-color: #7ECA9C;
          border-radius: 10px;
          border-style:solid;
          border-color:black;
          padding-top: 20px;
          padding-left: 0px ;

}
.menu li:hover .submenu{
          display: block;
}
h1{
          text-align: center;
}

form{
          margin: 0 auto;
          width: auto;
}
.formulario{
        text-align: center;
        background-color:rgb(64, 57, 74);
        border-radius: 10px;
        border-style: solid;
        margin-bottom: 10px;
        padding: 40px;
}
.formulario input{
        height:40px ;
        width: 350px;
        font-size: 20px;
        background-color: rgb(204, 255, 189);
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.formulario button{
        background-color: rgb(204, 255, 189);
        font-size: 18px;
}

.Redes{
          background-color: rgb(64, 57, 74);
          margin: 0 auto;
          border-radius: 10px;
          border-style:solid;
          border-color:black;
          width: 400px;
          padding: 20px;
          text-align: center;
          margin-bottom: 5px;
}
.Discord{
        border-color: black;
        border-style: solid;
        border-radius: 10px;      
        margin: 0 auto;
        margin-bottom: 10px;
        width: 380px;
}

.Discord a{
          color:#7289da;
          font-size: 30px;
          text-decoration: none;
}
.Discord a:hover{
          text-decoration: underline;
}

.Twitter{
          margin: 0 auto;
          border-color:black ;
          border-style:solid;
          border-radius: 10px;
          width: 380px;
          text-align: center;
          background-color: rgb(64, 57, 74);
          margin-bottom: 5px;
}



.Twitter a{
        color: rgb(29, 161, 242);  
        font-size: 30px;
        text-decoration: none;
}
.Twitter a:hover{
          text-decoration: underline;
}
@media (max-width:750px){
body{
          background-color: rgb(74, 74, 74);
          padding-left: 20px;
          padding-right: 20px;
 
}
main{
          display: flex;
          flex-direction: column;
          background-color:#7ECA9C;
          width: auto;
          border-radius: 15px;
          border-style: solid;
          padding: 10px;
}
.logo{
          margin: 0 auto;
          text-align: center;
          background-color:rgb(64, 57, 74) ;
          padding: 30px;
          border-radius: 20px;
          width: auto;
          margin-top: 10px;
          border-style:solid;
}
.logo img{
          border-radius: 15px;
          border-color: black;
          border-style: solid;
}
.logo img:hover{
          border-color:rgb(204, 255, 189) ;
}
.logo h1{
          border: 3px solid black;
          padding: 2px;
          background-color: rgb(204, 255, 189);
          font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo h2{
          color:rgb(60, 50, 70);
          text-align: center;
}
.logo h2:hover{
          color: rgb(81, 68, 94);
}
*{
          list-style: none;
}
.Listas{
          display: flex;
}
.menu{
          display:flex ;
          width: auto;
          justify-content: space-evenly;
          padding: 10px;
          padding-bottom: 10px;
          margin-right: 10px;
          height:auto;
          text-align: center;
          margin: 0 auto;
          background-color:#7ECA9C;
          margin-top:10px;
          border-radius: 15px;
          margin-bottom: 5px;
}
.menu a{
          color: black;
          text-decoration: none;
          font-size:19px;
          background-color:rgb(204, 255, 189);
          border-color: black;
          border-style:solid;
          margin-right: 5px;
          border-radius: 10px;
          margin-bottom: 0px;
          padding: 4px;
}
.menu a:hover{
          color: rgb(78, 78, 78);
}
.submenu{
          display:none;
          position: absolute;
          background-color: #7ECA9C;
          border-radius: 10px;
          border-style:solid;
          border-color:black;
          padding-top: 20px;
          padding-left: 0px ;
          padding-bottom: 5px;

}
.menu li:hover .submenu{
          display: block;
}
h1{
          text-align: center;
}
form{
          margin: 0 auto;
}
.formulario{
          text-align: center;
          background-color:rgb(64, 57, 74);
          margin: 0 auto;
          height: auto;
          padding-left: 50px;
          padding-right: 50px;
          padding-top: 20px;
          padding-bottom: 10px;
          border-radius: 10px;
          border-style: solid;
          margin-bottom: 10px;
          width: auto;
          padding: 10px;
}
.formulario input{
          height:40px ;

          font-size: 20px;
          background-color: rgb(204, 255, 189);
          text-align: center;
          width: 100%;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.formulario button{
          background-color: rgb(204, 255, 189);
}
          
          .Redes{
          background-color: rgb(64, 57, 74);
          margin: 0 auto;
          border-radius: 10px;
          border-style:solid;
          border-color:black;
          width: auto;
          padding:0 auto;
          text-align: center;
          margin-bottom: 5px;
}
          .Twitter{
          margin: 0 auto;
          border-color:black ;
          border-style:solid;
          border-radius: 10px;
          width: auto;
          text-align: center;
          background-color: rgb(64, 57, 74);
          margin-bottom: 5px;
}
}
